.page
    .pt-5.pb-3 #{i18n('identify_message')}
    .user-list
        each user in users
            .user-item(data-id=user.id)
                i.fa.fa-user.user-pic
                span #{user.lastNameRu} #{user.firstNameRu}, #{user.title}
